<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="back-button-block">
                            <button type="button" (click)="back()" class="btn btn-link">
                                <span class="badge badge-primary">назад</span>
                            </button>
                        </div>
                        <div class="page-title-block">
                            <div class="page-title text-center">
                                <h3>Добавить физического лица</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form #addPerson="ngForm" class="form-horizontal" (submit)="add(addPerson)" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastName">Фамилия <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="text" id="lastName" name="lastName" class="form-control"
                                               [(ngModel)]="person.lastName" placeholder="Введите свою фамилию"
                                               required #lastName="ngModel">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstName">Имя <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="text" id="firstName" name="firstName" class="form-control"
                                               [(ngModel)]="person.firstName" placeholder="Введите свое имя"
                                               required #firstName="ngModel">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="patronymic">Отчество <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="text" id="patronymic" name="patronymic" class="form-control"
                                               [(ngModel)]="person.patronymic" placeholder="Введите ваше отчество"
                                               required #patronymic="ngModel">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="iin">ИИН <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="text" id="iin" name="iin" class="form-control"
                                               [(ngModel)]="person.iin" placeholder="Введите свой иин"
                                               required #iin="ngModel">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span>Выбрать Регион <span class="text-danger">*</span></span>
                                <div>
                                    <select name="personRegion" class="form-control" [(ngModel)]="person.region"
                                            required #personRegion="ngModel">
                                        <option *ngFor="let region of regions"
                                                [ngValue]="region">{{region.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mt-3 mb-3 text-danger">
                            * Обязательные поля
                        </div>
                        <div class="admin-card-footer">
                            <button type="submit" class="btn btn-success" [disabled]="!addPerson.form.valid">
                                Добавить
                            </button>
                            <button type="button" class="btn btn-light" (click)="back()">
                                Отмена
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
